@import "tailwindcss";

@theme {
    --color-base: #4B548B;
    --color-dark: #1E275E;
    --color-darker: #161E49;
    --color-deep: #223291;
    --color-selected: #797D9D;
}

.bg-base-gradient {
  background-image: linear-gradient(to bottom, var(--color-base) 0%, #2F3558 75%, #141625 100%);
}